{% extends "base.html" %}

{% block content %}
<div class="container-fluid main-frame">
    <div class="row title">
        <h1 class="text-center">Catalog</h1>
    </div>
    <div class="row">
        <div class="col-md-2 left-side">
            <div class="row" style="padding-top: 0;">
                <h2 class="text-center section">Catagories</h2>
                <ul class="section" style="list-style-type:none">
                {% for category in categories %}
                    <li><a href="/catalog/category_{{category.id}}">{{category.name}}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="row edit"> 
                {% if user %}
                <a href='/catalog/newCategory' class="btn btn-primary btn-sm">Add Category</a>
                {% endif %}
            </div>
        </div>

        <div class="col-md-10" id="main-content">
            <div class="row" style="background-color: white;">
                <h2 class="text-center section">Latest Items</h2>
            </div>
            {% for i in range(0, items|length) %}
                <div class="row" style="background-color: white;">
                {% for j in range(0, items[i]|length) %}
                    <div class="col-md-{{12//col_num}} thumbnail-box">
                        <div class="thumbnail text-center">
                            {{items[i][j].title}}
                            <a href="/catalog/category_{{items[i][j].category_id}}/item_{{items[i][j].id}}">
                                <img src="{{items[i][j].get_img().img_src}}" class="img-responsive">
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="row" style="background-color: white;">
                    <br>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
