{% extends "base.html" %}

{% block content %}
{% if category %}
<h2 class="text-center">Category: {{category.name}}</h2>
{% if user %}
<a href="/catalog/category_{{category.id}}/newItem">Add Item</a>
{% endif %}
<div class="row">
    <h3 class="text-left">Items:</h3>
    <ul>
    {% for item in items %}
        <li><a href="/catalog/category_{{category.id}}/item_{{item.id}}">{{item.title}}</a></li>
    {% endfor %}
    </ul>
    {% if user %}
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#delete">Delete</button>
    {% endif %}
</div>
<!-- Button trigger modal -->

{% if user %}
<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure? This will erase all items under the category.
            </div>
            <div class="modal-footer">
                <form method="post" action="/catalog/category_{{category.id}}/deleteCategory">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button "submit" class="btn btn-primary" href="/catalog/category_{{category.id}}/deleteCategory" role="button">Delete</button>
                </form>
                <!--<button type="Submit" class="btn btn-primary">Delete</button> -->
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% if deleted_category_name %}
<script>$(function () {
    $('#myModal').modal('show')
})
</script>
        
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Category <strong>{{ deleted_category_name }}</strong> has been deleted.
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" href="/catalog">OK</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

