{% extends "base.html" %}

{% block content %}
<div class="container">
{% if item %}
    <div class="row title">
        <h2 class="text-center">{{item.title}}</h2>
    </div>
    <div class="row section">
        <div class="col-md-2">Category:</div>
        <div class="col-md-10">{{category.name}}</div>
    </div>
    <div class="row section">
        <div class="col-md-2">Description:</div>
        <div class="col-md-10">{{item.desc | safe}}</div>
    </div>
    <div class="row section">
        <img src="{{image.img_src}}" class="img-responsive center-block" alt="{{image.img_title}}">
    </div>
    <div class="edit">
        {% if user %}
        <a type="button" class="btn btn-primary btn-sm" href="/catalog/category_{{category.id}}/item_{{item.id}}/editItem">Edit Item</a>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#deleteItem">Delete Item</button>
        {% endif %}
    </div>
    <br>
{% endif %}
</div>
{% if user and item %}
<!-- Modal -->
<div class="modal fade" id="deleteItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure? This will delete this item.
            </div>
            <div class="modal-footer">
                <form method="post" action="/catalog/category_{{category.id}}/item_{{item.id}}/deleteItem">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button "submit" class="btn btn-primary" role="button">Delete</button>
                </form>
                <!--<button type="Submit" class="btn btn-primary">Delete</button> -->
            </div>
        </div>
    </div>
{% endif %}
</div>
{% if deleted_item_title %}
<script>$(function () {
    $('#myModal').modal('show')
})
</script>
        
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Item <strong>{{ deleted_item_title }}</strong> has been deleted.
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" href="/catalog/category_{{category_id}}">OK</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}


