{% extends "base.html" %}

{% block content %}
<div class="container">
{% if category %}
    <div class="row title">
        <h2 class="text-center">Category: {{category.name}}</h2>
    </div>
    <div class="row">
        <!--display thumbnails-->
        <div class="section">
            <h3 class="text-left">Items:</h3>
            {% for i in range(0, items|length) %}
                <div class="row">
                {% for j in range(0, items[i]|length) %}
                    <div class="col-md-4 thumbnail text-center">
                        {{items[i][j].title}}
                        <a href="/catalog/category_{{category.id}}/item_{{items[i][j].id}}">
                            <img src="{{items[i][j].get_img().img_url}}" class="img-responsive">
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row edit">
        {% if user %}
        <a class="btn btn-primary btn-sm" href="/catalog/category_{{category.id}}/editCategory">Edit Category</a>
        <a class="btn btn-primary btn-sm" href="/catalog/category_{{category.id}}/newItem">Add Item</a>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#delete">Delete Category</button>
        {% endif %}
    </div>
        <!-- Button trigger modal -->

        {% if user %}
        <!-- Modal -->
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        Are you sure? This will erase all items in this category.
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="/catalog/category_{{category.id}}/deleteCategory">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button "submit" class="btn btn-primary" role="button">Delete</button>
                        </form>
                        <!--<button type="Submit" class="btn btn-primary">Delete</button> -->
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
{% endif %}
</div>
{% if deleted_category_name %}
<script>$(function () {
    $('#myModal').modal('show')
})
</script>
        
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Category <strong>{{ deleted_category_name }}</strong> has been deleted.
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" href="/catalog">OK</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
