{% extends "base.html" %}

{% block content %}
<h2 class="text-center">Update Item</h2>
<form method="post">   
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            Item Name
        </div>
        <div class="col-md-3">
            <input class="form-control" name="item_title" value="{{item_title}}"> 
        </div>
        <div class="col-md-3">
            <div class="error">{{error_item_title}}</div>	    
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            Item Description
        </div>
        <div class="col-md-3">
            <textarea name="item_desc" class="form-control" rows="10" placeholder="Enter some text...">{{content}}</textarea>
        </div>
        <div class="col-md-3">
            <div class="error">{{error_item_title}}</div>	    
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}

