{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h2>Update Item</h2>
        </div>
    </div>
    <form method="post">   
        <!--Name-->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label for="itemTitle">Item Name</label>
                <input class="form-control" name="item_title" value="{{item.title if item}}"> 
            </div>
            <div class="col-md-3">
                <div class="error">{{error_item_title}}</div>	    
            </div>
        </div>
        <br>
        <!--Description-->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label for="itemDesc">Item Description</label>
                <textarea name="item_desc" class="form-control" rows="10" placeholder="Enter some text...">{{item.desc if item | safe}}</textarea>
            </div>
            <div class="col-md-3">
                <div class="error">{{error_item_desc}}</div>	    
            </div>
        </div>
        <br>
        <!--URL-->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label for="imgUrl">Item Image URL</label>
                <input class="form-control" name="img_url" value="{{image.img_url if image}}"> 
            </div>
            <div class="col-md-3">
                <div class="error">{{error_item_img_url}}</div>	    
            </div>
        </div>
        <br>
        <!--Category-->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label for="imgUrl">Category</label>
                <select class="form-control" name="category_id">
                {% if category %}
                    <option value={{category.id}}>{{category.name}}</option>
                {% endif %}
                {% if categories  %}
                    {% for c in categories %}
                        {% if category and c.id != category.id %}
                        <option value={{c.id}}>{{c.name}}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </select>	
            </div>
            <div class="col-md-3">
                <div class="error">{{error_item_category}}</div>	    
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                {% if item %}
                    <a href="/catalog/category_{{category.id}}/item_{{item.id}}"type="button" class="btn btn-default btn-sm">Cancel</a>
                {% else %}
                    <a href="/catalog/category_{{category.id}}"type="button" class="btn btn-default btn-sm">Cancel</a>
                {% endif %}
            </div>
        </div>
    </form>

</div>
{% endblock %}

