{% extends "base.html" %}

{% block content %}
<h2 class="text-center">Update Item</h2>
<form method="post">   
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="itemTitle">Item Name</label>
            <input class="form-control" name="item_title" value="{{item_title}}"> 
        </div>
        <div class="col-md-3">
            <div class="error">{{error_item_title}}</div>	    
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="itemDesc">Item Description</label>
            <textarea name="item_desc" class="form-control" rows="10" placeholder="Enter some text...">{{content}}</textarea>
        </div>
        <div class="col-md-3">
            <div class="error">{{error_item_title}}</div>	    
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="imgUrl">Item Image URL</label>
            <input class="form-control" name="img_url" value="{{img_url}}"> 
        </div>
        <div class="col-md-3">
            <div class="error">{{error_item_img_url}}</div>	    
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>

{% endblock %}

